<%= form_for(@restaurent) do |f| %>
  <% if @restaurent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurent.errors.count, "error") %> prohibited this restaurent from being saved:</h2>

      <ul>
				<%# @restaurent.errors.full_message_to.sentence.each do |msg| %>
      <% @restaurent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
