<div class="jumbotron">
	<h2>ibnBattuta is the first rating/ reviewing arabic website</h2>
	<h3> Here you will be able to review and rating local businesses<br>
		ibnBattuta is the first arabs rating and reviewing website
	</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurents.each do |restaurent| %>
      <tr>
        <td><%= restaurent.name %></td>
        <td><%= restaurent.address %></td>
        <td><%= restaurent.phone %></td>
        <td><%= link_to restaurent.website, restaurent.website %></td>
        <td><%= link_to 'Show', restaurent, class: 'btn btn-link' %></td>
        <td><%= link_to 'Edit', edit_restaurent_path(restaurent.id), class: 'btn btn-link' %></td>
        <td><%= link_to 'Destroy', restaurent, class: 'btn btn-link', method: :delete, data: { confirm: 'هل انت متاكــــــــد؟؟؟' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurent', new_restaurent_path, class: 'btn btn-link' %>
<%= image_tag 'https://s3.amazonaws.com/dmomohammad/uploads/restaurent/image/3/happy_footer.png' %>
