<div class="row">
	<div class="col-md-3">
		<%= image_tag @restaurent.image_url %>
		<p>
		  
		  <h3><%= @restaurent.name %></h3>
		</p>
		<p><div class="star-rating" data-score= <%= @avg_rating %>></div></p>
		<p><%= "#{@reviews.length} reviews" %></p>
		<p>
		  <strong>Address:</strong>
		  <%= @restaurent.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @restaurent.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= @restaurent.website %>
		</p>
		<%= link_to 'New Review', new_restaurent_review_path(@restaurent.id), class: 'btn btn-primary' %>
	</div>
	<div class="col-md-9">
		<% if @reviews.blank? %>
		<h3>Be the first one and write a review!</h3>
		<% else %>
		
<table class="table">
	<thead>
		<tr>
			<th class='col-md-3'></th>
			<th class='col-md-9'></th>
		</tr>
	</thead>
	</thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
				<td>
					<h4>
            <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
						<p><%= review.user.created_at.strftime('added on %m/%d/%Y at %I:%M%p' ) %></p>
					</h4>
				</td>
        <td>
          <div class="star-rating" data-score= <%= review.rating %> ></div>
          <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
			
		<% end %>
	</div>
</div>


<%= link_to 'Edit', edit_restaurent_path(@restaurent), calss: 'btn btn-link' %> |
<%= link_to 'Back', restaurents_path, class: 'btn btn-link' %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/dmomohammad/Stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
