

<%= image_tag @restaurent.image_url %>
<p>
  <strong>Name:</strong>
  <%= @restaurent.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurent.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurent.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurent.website %>
</p>

<%= link_to 'Edit', edit_restaurent_path(@restaurent), calss: 'btn btn-link' %> |
<%= link_to 'Back', restaurents_path, class: 'btn btn-link' %>
