<div class="row">
	<div class="col-md-3">
		<%= image_tag @restaurent.image_url %>
		<p>
		  
		  <h3><%= @restaurent.name %></h3>
		</p>
		<p><div class="star-rating" data-score= <%= @avg_rating %>></div></p>
		<p><%= "#{@reviews.length} reviews" %></p>
		<p>
		  <strong>Address:</strong>
		  <%= @restaurent.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @restaurent.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= @restaurent.website %>
		</p>
		<%= link_to 'New Review', new_restaurent_review_path(@restaurent.id), class: 'btn btn-primary' %>
		
		<br>
		<br>
		<iframe
		  width="230"
		  height="230"
		  frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyARi_DQ-2ORErFrZJCVBF_H6tHWUy6zK4k
		    &q=<%= @restaurent.address.parameterize %>&zoom=14">
		</iframe>
		
	</div>
	<div class="col-md-9">
		<% if @reviews.blank? %>
		<h3>Be the first one and write a review!</h3>
		<% else %>
		
<table class="table">
	<thead>
		<tr>
			<th class='col-md-3'></th>
			<th class='col-md-9'></th>
		</tr>
	</thead>
	</thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
				<td>
					<h4>
<%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
          </h4>
						<p><%= review.user.created_at.strftime('added on %m/%d/%Y at %I:%M%p' ) %></p>
				</td>
        <td>
          <div class="star-rating" data-score= <%= review.rating %> ></div>
          <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
					
<% if user_signed_in? %>
  <% if (review.user_id == current_user.id) || (current_user.admin?) %>
    <%= link_to "Edit", edit_restaurent_review_path(@restaurent.id, review.id) %>
    <%= link_to "Delete", restaurent_review_path(@restaurent.id, review.id), method: :delete %>
  <% end %>
<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
			
		<% end %>
	</div>
</div>


<%= link_to 'Edit', edit_restaurent_path(@restaurent), calss: 'btn btn-link' %> |
<%= link_to 'Back', restaurents_path, class: 'btn btn-link' %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/dmomohammad/Stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
